body{
    margin: 0%;
    font-family: 'Redressed', cursive;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color:rgb(167, 5, 167);
}
.color-highlight{
    color: greenyellow;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,greenyellow,yellow);
    padding: 10px 20px;
    color:palevioletred;
    font-weight: 700;
    border-radius: 10px;
}    
.link-button1{
    text-decoration:none;
    background-image: linear-gradient(45deg,cyan,rgb(88, 88, 240));
    color: rosybrown;
    padding:10px 20px ;
    font-weight: 700;
    border-radius: 10px;
}
.Ambition{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.Experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.s-exp{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
    padding: 10px 20px;
    background-color: white;
}
.Full-stack{
     border-left: 5px solid blue;
     border-image: linear-gradient(180deg,blue, cyan);
     border-image-slice: 1;

}
.noob{
    border-left: 5px solid tomato;
    border-image:linear-gradient(180deg,tomato,red);
    border-image-slice: 1;

}
footer p{
    text-align: center;
    font-size: 10px;
}
